<div>
	<% if products.empty? %>
		<div class="my-3">No products at the moment.</div>
	<% else %>
	<div class="table-responsive">
		<table class="table table-hover align-middle">
			<%= products_table_head %>
			<tbody>
				<% products.each do |product| %>
					<%= products_table_row product %>
				<% end %>
			</tbody>
		</table>
	</div>
	<% end %>
</div>