<div class="d-flex justify-content-between mt-4 mb-2">
	<%= page_title "Manage Categories" %>
</div>
<div class="category-index">
	<table class="table">
		<thead>
			<tr>
				<th class="w-85">Name</th>
				<th class="w-15">Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @categories.each do |category| %>
				<tr>
					<td><%= category.name %></td>
					<td>
						<%= delete_icon category_url(category) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<%= render "form" %>

