<% products = @category.products %>

<section>
	<h1>Categories</h1>
	<ul>
		<% @categories.each do |category| %>
			<%= link_to category.name, category_url(category) %>
		<% end %>
	</ul>
	<%= render 'shared/products', products: products %>
	<%= render 'products/form', categories: @categories, current_category_id: @category.id %>
</section>