<section>
	<div>
		<%= page_title "Order More" %>
		<form class='mt-n2 mb-2' action="<%= request_products_products_url %>" method="post">
			<%= authenticity_token %>
			<button class='btn btn-primary btn-sm' type="submit">Request Products</button>
		</form>
	</div>
	<%= render 'shared/products', products: @products %>
</section>