<section>
	<div class="d-flex justify-content-between mt-4 mb-2">
		<%= page_title "Order More" %>
		<form action="<%= request_products_products_url %>" method="post">
			<%= authenticity_token %>
			<button class='btn btn-primary btn-sm' type="submit">Request Products</button>
		</form>
	</div>
	<%= render 'shared/products', products: @products, location: 0 %>
</section>