<section>
	<div class="mt-4 mb-2">
		<%= page_title "Edit Product Details" %>
	</div>
	<%= render 'products/form', product: @product, categories: @categories, current_category_id: @product.category_id, location: 3 %>
</section>