<section>
	<form action="<%= request_products_products_url %>" method="post">
		<input type="submit" value="Request Products">
	</form>
	<h1>Order List</h1>
	<%= render 'shared/products', products: @products %>
</section>