<section>
	<div class="mt-4 mb-3">
		<%= page_title "Product Details" %>
		<div>
			<form action="<%= product_url(@product) %>" method="post">
				<input type="hidden" name="_method" value="delete">
				<%= authenticity_token %>
				<button class="btn btn-danger btn-sm px-3" type="submit">Delete Product</button>
			</form>
		</div>
	</div>
	<%= render 'products/form', product: @product, current_category_id: @product.category_id, location: 3 %>
</section>